.App {
  background-color: #508bfc;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

.buttons {
  padding: 8px;
  border-radius: 4px;
}

.buttons:hover {
  background-color: rgba(211, 211, 214, 0.4);
}

/* NAVBAR */

.vacebook-navbar {
  width: 100%;
  height: 56px;
  display: flex;
  position: fixed;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
}
.vacebook-navbar .links {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.vacebook-navbar button {
  width: 100px;
  height: 40px;
  line-height: 20px;
  margin: 0 8px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.avatar {
  height: 32px;
  margin-right: 8px;
}

.vacebook-navbar .NavContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.userbox {
  display: flex;
  justify-content: center;
}

.username {
  line-height: 32px;
}

.vacebook-container {
  margin-top: 64px;
  width: 70%;
  min-width: 700px;
}

/* Sign */

.sign-card {
  border-radius: 1rem;
  width: 50%;
  height: 75vh;
  min-width: 220px;
  display: flex;
  margin: 50px 25%;
}

.SignContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
}

.vacebook-input {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  padding: 10px;
  border: 2px solid dodgerblue;
}

.SignContainer button {
  background-color: dodgerblue;
  width: 80%;
  color: white;
}

/* HOME */

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.modal {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: flex;
}

.home-nav {
  width: 70%;
  padding: 8px 32px;
  box-sizing: border-box;
  border-radius: 20px;
  line-height: 28px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
}

.formContainer .vacebook-input {
  width: 100%;
  margin: 10px 0;
}

.cancel-button {
  display: flex;
  justify-content: flex-end;
  color: #9b9799;
}

.cancel-button:hover {
  color: #ff0000;
  cursor: pointer;
}

.createPostFooter {
  display: flex;
}

.formContainer button {
  background-color: rgb(35, 146, 214);
  border: none;
  margin: 10px 0;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: rgb(126, 228, 31);
}

span {
  color: red;
}

.post {
  border-radius: 10px;
  width: 70%;
  height: 444px;
  display: flex;
  flex-direction: column;
  margin: 24px;

  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .header {
  flex: 15%;
  background-color: rgb(12, 45, 78);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  place-content: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.header .userinfo {
  flex: 50%;
  display: flex;
  justify-content: space-between;
}

.userinfo .username {
  /* flex: 50%; */
}
.userinfo .buttons {
  /* flex: 50%; */
}

.header .title {
  text-align: center;
}

.post .body {
  flex: 70%;
  display: grid;
  padding: 20px;
  background-color: aliceblue;
  padding: 8px;
  place-content: center;
}

.post .footer {
  flex: 15%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(12, 45, 78);
  color: aliceblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .buttons {
  margin: 0 auto;
  display: flex;
}

.footer .footer-text {
  padding-left: 4px;
}

.buttons .numLike {
  margin: 0 8px;
  color: white;
}

.likeBttn {
  color: #1877f2;
}
.unlikeBttn {
  color: white;
}

/* COMMENT */
.commentPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.commentPart {
  padding: 56px;
}

.addCommentContainer {
  display: flex;
  height: 50px;
}

.addCommentContainer .inputComment {
  flex: 1;
  border-radius: 8px;
  margin-right: 80px;
}

.addCommentContainer .buttonComment {
  border-radius: 8px;
  border: none;
  color: rgb(0, 97, 187);
}

.addCommentContainer input {
  border: 2px solid rgba(255, 3, 3, 0.466);
}

.commentPart .listOfComments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.listOfComments .comment {
  align-items: center;
  background-color: rgba(82, 79, 79, 0.4);
  width: 100%;
  height: auto;
  padding: 12px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  color: white;
}
.listOfComments .comment:hover {
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.comment .userinfo {
  flex: 80%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileContainer .buttons {
  margin: 12px;
}

.ChangePassBtn,
.ShowDelPostBtn {
  margin: 12px;
  padding: 8px;
  border-radius: 10px;
  border-color: bisque;
  background-color: thistle;
}

.ChangePassBtn:hover {
  background-color: greenyellow;
}

.ShowDelPostBtn:hover {
  background-color: red;
  color: azure;
}
